<script type="text/javascript">
window.__bootstrap__ = <%- JSON.stringify(bootstrap_data) %>;
</script>

<%
  function is_html(file) {
    return ['html'].indexOf(file.extension) !== -1;
  }
  function is_js(file) {
    return ['js', 'coffee'].indexOf(file.extension) !== -1;
  }
%>

<div id="templates">
<%
  var base_path = Caboose.path.public.join('javascripts', 'templates').path.length + 1;
  Caboose.path.public.join('javascripts', 'templates').ls_sync({recursive: true}).filter(is_html).forEach(function(file) { %>
    <script data-name="<%- file.path.slice(base_path, -5) %>" type="text/template"><%- file.read_file_sync() %></script>
<% }) %>
</div>

<%- javascript_include('main') %>

<%-
  javascript_include.apply(null,
    Caboose.path.public.join('javascripts', 'lib').ls_sync({recursive: true}).filter(is_js).map(function(file) { return 'lib/' + file.basename; })
  )
%>
<%-
  javascript_include.apply(null,
    Caboose.path.public.join('javascripts', 'models').ls_sync({recursive: true}).filter(is_js).map(function(file) { return 'models/' + file.basename; })
  )
%>
<%-
  javascript_include.apply(null,
    Caboose.path.public.join('javascripts', 'collections').ls_sync({recursive: true}).filter(is_js).map(function(file) { return 'collections/' + file.basename; })
  )
%>
<%-
  javascript_include.apply(null,
    Caboose.path.public.join('javascripts', 'views').ls_sync({recursive: true}).filter(is_js).map(function(file) { return 'views/' + file.basename; })
  )
%>
<%-
  javascript_include.apply(null,
    Caboose.path.public.join('javascripts', 'routers').ls_sync({recursive: true}).filter(is_js).map(function(file) { return 'routers/' + file.basename; })
  )
%>