<script type="text/javascript">
window.__bootstrap__ = <%- JSON.stringify(bootstrap_data) %>;
</script>

<%
  var js_dir = Caboose.path.public.join('javascripts');

  function is_html(file) {
    return ['html'].indexOf(file.extension) !== -1;
  }
  function is_js(file) {
    return ['js', 'coffee'].indexOf(file.extension) !== -1;
  }
  
  function js_file_list(dir) {
    return javascript_include.apply(null,
      js_dir.join(dir).ls_sync({recursive: true}).filter(is_js).map(function(file) {
        return file.path.slice(js_dir.path.length + 1).replace(/\.[^\.]+$/, '');
      })
    )
  }
%>

<div id="templates">
<%
  var base_path = Caboose.path.public.join('javascripts', 'templates').path.length + 1;
  Caboose.path.public.join('javascripts', 'templates').ls_sync({recursive: true}).filter(is_html).forEach(function(file) { %>
    <script data-name="<%- file.path.slice(base_path, -5) %>" type="text/template"><%- file.read_file_sync() %></script>
<% }) %>
</div>

<%- javascript_include('awesomebox_client', 'main') %>

<%- js_file_list('lib') %>
<%- js_file_list('models') %>
<%- js_file_list('collections') %>
<%- js_file_list('views') %>
<%- js_file_list('routers') %>